@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  -moz-tab-size: 2;
  tab-size: 2;

  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}
