/* My defaults */

html {
  scroll-behavior: smooth;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  // cursor: pointer;
  font-family: inherit;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}

address {
  font-style: normal;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

