// Flex element's flex-basis calculation

@mixin flex-basis($items-per-row, $spacing: $regular-gap) {
  // Number of gaps = items per row - 1;

  flex-basis: calc((100% - $spacing * ($items-per-row - 1)) / $items-per-row);
}

// Flex element's flex-basis formula for all 3 screen widths, you only need to provide the number of items per row for each

@mixin flex-basis-mob-tab-desk(
  $items-per-row-mobile: 1,
  $items-per-row-tablet: 3,
  $items-per-row-desktop-small: 4,
  $items-per-row-desktop-medium: 4,
  $items-per-row-desktop-larger: 5
) {
  @media screen and (max-width: ($tablet - 1px)) {
    @include flex-basis(2);
  }

  @media screen and (max-width: ($mobile)) {
    @include flex-basis($items-per-row-mobile);
  }

  @media screen and (min-width: $tablet) {
    @include flex-basis($items-per-row-tablet);
  }

  @media screen and (min-width: $desktop-small) {
    @include flex-basis($items-per-row-desktop-small);
  }

  @media screen and (min-width: $desktop-medium) {
    @include flex-basis(3);
  }

  @media screen and (min-width: 1500px) {
    @include flex-basis(4);
  }

  @media screen and (min-width: $desktop-larger) {
    @include flex-basis($items-per-row-desktop-larger);
  }
}
