// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desktop-small: 1000px;
$desktop-medium: 1300px;
$desktop-larger: 1800px;

// Spacings
$container-padding: 15px;
$desktop-margin: 215px;
$regular-gap: 20px;

// Colors
$aaa: #696969;
$bg-dark: #58534b;
$text-dark: #9d9c9a;
