// Colors

// Light theme
body {
  --background-color: $milky;
  --text-color: $blackish;
  --accent-color: $gold;
  --logo-stroke-color: black;
}

// Dark theme
body.dark {
  --background-color: $dark-gray;
  --text-color: white;
  --accent-color: $gold;
  --logo-stroke-color: $logo-stroke-light;
}

$milky: #f6f6f6;
$logo-stroke-light: #f3f3f3;
$dark-gray: #202024;
$blackish: #111111;
$gray: #b4afaf;
$violet: #4f2ee8;
$gold: #eac645;

// Font weight
$regular: 400;
$medium: 500;
$bold: 700;

// Breakpoints
$mobile: 375px;
$tablet: 768px;
$desktop: 1440px;

// Z-indexes
$header-index: 1;
$to-top-button-index: 2;

// Container padding
:root {
  --container-padding: 20px;

  @media screen and (min-width: $tablet) {
    --container-padding: 32px;
  }
  @media screen and (min-width: $desktop) {
    --container-padding: 24px;
  }
}
$container-padding: var(--container-padding);

// For use in mixins:
$transition-duration: 300ms;
$transition-timing-function: ease-in-out;

$regular-gap: 20px;
