<section class="paginations">
  <!-- Pagination buttons -->
  <div class="paginations__container paginations__container-back">
    <button
      type="button"
      name="startButton"
      class="paginations__btn paginations__btn--back"
      aria-label="Jump to first page"
    >
      <svg class="paginations__icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-double-small-left"></use>
      </svg>
    </button>
    <button
      type="button"
      name="previousButton"
      class="paginations__btn paginations__btn--back"
      aria-label="Previous page"
    >
      <svg class="paginations__icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-small-left"></use>
      </svg>
    </button>
    <!-- container for dynamic pagination page markup -->
  </div>
  <div class="paginations__container paginations__container-pages"></div>
  <!-- buttons paginations -->
  <div class="paginations__container paginations__container-end">
    <button
      type="button"
      name="nextButton"
      class="paginations__btn paginations__btn--end"
      aria-label="Next page"
    >
      <svg class="paginations__icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-small-right"></use>
      </svg>
    </button>
    <button
      type="button"
      name="endButton"
      class="paginations__btn paginations__btn--end"
      aria-label="Jump to last page"
    >
      <svg class="paginations__icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-double-small-right"></use>
      </svg>
    </button>
  </div>
</section>
