body.dark {
  /* Body */
  --background-color: #{$dark-gray};
  --text-color: white;

  /* Header */
  --header-bg-color: #{$blackish};
  --header-border-color: dimgray;
  --logo-stroke-color: #{$logo-stroke-light};

  /* Categories  list */
  --category-color: rgba(255, 255, 255, 0.6);
  --active-category-color: var(--accent-secondary);
  --scrollbar-bg-color: #{rgba($blackish, 0.6)};

  /* Modal - popup */
  --modal-bg-color: var(--background-color);
  --modal-border-color: black;
  --modal-message: rgba(255, 255, 255, 0.5);

  /* Store icons */
  --amazon-image-filter: grayscale(100%) invert(100%);
  --amazon-image-filter-hover: invert(100%) hue-rotate(170deg);
  --mix-blend-mode: luminosity;
  --hover-filter: none;

  /* Shopping list */
  --card-bg-color: #{$blackish};
  --empty-list-text-color: rgba(255, 255, 255, 0.6);

  /* Auth form */
  --form-field-bg-color: #9d9c9a;
  --form-field-bg-color-focus: silver;
  --form-button-border-color: var(--accent-primary);
  --link-color: var(--accent-primary);
  --form-background: #{$dark-gray};
  --form-border: #{$milky};
  --form-toggle-color: rgba(246, 246, 246, 0.5);

  /* Pagination (shopping list) */
  /* Pagination - Back button */
  --back-button-icon-color: white;
  --back-button-bg-color: #{$blackish};

  /* Pagination - Page bullets */
  --page-bullet-text-color-active: black;
  /* To top button */
  --to-top-button-shadow-color: SlateBlue;
}
