:root {
  --accent-primary: #{$violet};
  --accent-secondary: #{$gold};

  /* Body */
  --background-color: #{$milky};
  --text-color: #{$blackish};

  /* Header */
  --header-bg-color: white;
  --logo-stroke-color: black;

  /* Categories  list */
  --active-category-color: var(--accent-primary);

  /* Form */
  --form-field-bg-color: #{$milky};
  --form-field-bg-color-focus: White;
  --form-button-bg-color: #{$blackish};
  --link-color: var(--accent-primary);

  /* Pagination (shopping list) */
  --circle-border-color: var(--text-color);

  /* Pagination - Back button */
  --back-button-bg-color: var(--text-color);
  --back-button-bg-color-hover: dimgray; // feel free to modify
  --back-button-bg-color-active: var(--accent-primary); // feel free to modify
  --back-button-icon-color: #{$gray};

  /* Pagination - Page bullets */
  --page-bullet-bg-color: transparent;
  --page-bullet-bg-color-active: var(--text-color);
  --page-bullet-text-color: var(--text-color);
  --page-bullet-text-color-active: white;

  /* Pagination - Forward button */
  --forward-button-bg-color: var(--accent-secondary);
  --forward-button-bg-color-hover: aaa; // feel free to modify
  --forward-button-bg-color-active: aaa; // feel free to modify
  --forward-button-icon-color: black;

  /* To top button */
  --to-top-button-bg-color: var(--accent-primary);
  --to-top-button-shadow-color: rgba(82, 48, 232, 0.3);
  --to-top-button-icon-color: white;
}
