<div class="support">
  <h2 class="head-title">
    Support Ukraine
    <svg class="icon-ua" width="20" height="32">
      <use href="./images/symbol-defs.svg#icon-ua"></use>
    </svg>
  </h2>

  <div class="swiper mySwiper">
    <ul class="swiper-wrapper support-list"></ul>
  </div>

  <button type="button" class="next swiper-next" aria-label="Swipe next">
    <span class="icon-container">
      <svg class="icon-down" width="20" height="32">
        <use href="./images/symbol-defs.svg#icon-down"></use>
      </svg>
    </span>
  </button>
</div>
