<button class="click-here">click here</button>

<div class="backdrop">
  <div class="modal">
    <button class="modal--close-button">x</button>
    <form class="modal-form" name="modal-form">
      <div class="modal-form__input-field">
        <input
          class="modal-form__input"
          type="text"
          id="user-name"
          name="user-name"
          placeholder="name"
        />
      </div>
      <div class="modal-form__input-field">
        <input
          class="modal-form__input"
          type="email"
          id="user-email"
          name="user-email"
          placeholder="email"
        />
      </div>
      <div class="modal-form__input-field">
        <input
          class="modal-form__input"
          type="password"
          id="user-password"
          name="user-password"
          placeholder="password"
        />
      </div>

      <button class="modal-form__submit" type="submit">Sign up</button>
    </form>
    <div class="modal-togle">
      <button class="modal-togle--el modal-togle--el__current">Sign up</button>
      <button class="modal-togle--el">Sign in</button>
    </div>
  </div>
</div>
