<div class="mobile-menu" data-menu>
    <div class="container mobile-menu__container">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item">
          <button type="button" class="mobile-button">
            Sign up
            <svg class="logo__svg" width="20" height="20">
              <use href="../src/images/symbol-defs.svg#icon-arrow-narrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <ul class="mobile-menu__btn">
        <li class="mobile-menu__item">
          <a href="./index.html" class="mobile-menu__home">HOME</a>
        </li>
        <li class="mobile-menu__item">
          <a href="./shopping-list.html" class="mobile-menu__shopping"
            >SHOPPING LIST
            <svg class="mobile-menu__icon" width="20" height="20">
              <use href="../src/images/symbol-defs.svg#icon-uil_cart"></use></svg
          ></a>
        </li>
      </ul>
      <button type="button" class="button-modal__logout">
        Log out
        <svg class="logo__svg" width="20" height="20">
          <use href="../src/images/symbol-defs.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>

