<label class="color-scheme-switcher">
  <input
    type="checkbox"
    name="color-scheme-switcher-checkbox"
    id="color-scheme-switcher-checkbox"
    aria-label="Color scheme switcher"
  />

  <span class="color-scheme-switcher-slider"></span>

  <svg class="color-switcher-icons" width="18" height="18">
    <use
      class="color-switcher-icon-moon"
      href="./images/symbol-defs.svg#icon-moon"
    ></use>
    <use
      class="color-switcher-icon-sun"
      href="./images/symbol-defs.svg#icon-sun"
    ></use>
  </svg>
</label>
