
<header class="header">  
    <div class="page-heder-container">
        <a class="page-logo-heder link" href="">
            <span class="page-logo"> <svg class="page-logo-first" lang="" aria-label="іконка логотипа" width="20"
                    height="20">
                    <use href="./images/symbol-defs.svg#icon-logo">
                    </use>
                </svg></span><svg class="page-logo-last" lang="" aria-label="логотип книга" width="53" height="17">
                <use href="./images/symbol-defs.svg#icon-Book_desktop">

                </use>
            </svg>

        </a>
        <div class="page-navigatio-wrapper">
            <ul class="page-navigatio-list-first list">
                <li class="page-navigatio-list-item-home">
                    <a class="page-navigatio-link navigatio-link-home current link" href="">Home</a>
                </li>
                <li class="page-navigatio-list-item-shopping"> <a
                        class="page-navigatio-link navigatio-link-shopping  link" href="">Shopping
                        list <svg class="page-navigatio-link-icon" lang="" aria-label="іконка валіза" width="20"
                            height="20">
                            <use href="./images/symbol-defs.svg#icon-uil-cart">

                            </use>
                        </svg></a>
                </li>
            </ul>
            <ul class="page-navigatio-list-last list">
                <li><include src="./partials/color-scheme-switcher.html"></include></li>
                <li>Sing Up</li>
            </ul>

        </div>

    </div>
</header>