
<div class="home">
    <section class="home-section">Side-bar</section>
    <section class="home-section">Best Sellers Books
<h2 class="home-br__title">Best Sellers <span class="home-bs__title-part">Books</span></h2>
<div class="home-category">
    <p class="home-category-title">Combined  Print and E-Book Fiction</p>
    <ul class=" books-list books-list__first">
   <!-- Here will be inserted 5 first book of category -->
    </ul>
    <button class="button">see more</button>
</div>
<div class="home-category">
    <p class="home-category-title">COMBINED PRINT & E-BOOK NONFICTION</p>
    
    <ul class=" books-list  books-list__second">
        <!-- Here will be inserted 5 first book of category -->
         </ul>
         <button class="button">see more</button>
</div>

<div class="home-category">
    <p class="home-category-title">HARDCOVER FICTION</p>
    <ul class=" books-list  books-list__third">
        <!-- Here will be inserted 5 first book of category -->
         </ul>
    <button class="button">see more</button>
</div>

<div class="home-category">
    <p class="home-category-title">HARDCOVER nonFICTION</p>
    <ul class=" books-list  books-list__fourth">
        <!-- Here will be inserted 5 first book of category -->
         </ul>
    <button class="button">see more</button>
</div>
    </section>
</div>
