<div class="home home-cat">
        <!--  -->
    <section class="home-section">Side-bar
        <div class="sidebar">
            <ul>
                <li><button type="button" class="category-btn">Combined Print and E-book Fiction</button></li>
                <li><button type="button" class="category-btn">Combined Print & E-book Nonfiction</button></li>
                <li><button type="button" class="category-btn">Hardcover fiction</button></li>
                
            </ul>
        </div>
    </section>
    <!--  -->
        <section class="home-section">Home-categories
        <div class="home-category content">
            <h2 class="home-br__title">All <span class="home-bs__title-part">categories</span></h2>
            <ul class=" books-list books-list__first"></ul>
        </div>
    </section>
</div>