<div class="support">
    <h2 class="head-title">Support Ukraine 
        <svg class="icon-ua" width="20" height="32">
            <use href="./images/symbol-defs.svg#icon-ua"></use>
          </svg> 
    </h2>

    <ul class="support-list">    
       <!-- <li class="support-item">
            <span class="support-index">01</span>     
            <a class="support-link" href="">
                <img
                    srcset="./images/support-img/11.png 1x, ./images/support-img/12.png 2x"
                    src="./images/support-img/11.png" alt="">
            </a>             
       </li>         -->
    </ul>
    <button type="button" class="next">
        <span class="icon-container">
            <svg class="icon-down" width="20" height="32">
            <use href="./images/symbol-defs.svg#icon-down"></use>
          </svg> 
        </span>
        
    </button>
</div>


