.mobile-menu {
  position: fixed;
  top: 80px;
  width: 100%;
  // height: calc(100vh - 54px);
  height: calc(100vh - 64px);
  z-index: $to-top-button-index;
  top: 54px;
  top: 64px;
  left: 0;
  transform: translate(100%, 0);
  transition: $transition-duration $transition-timing-function;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.mobile-menu-open {
  background-color: inherit;
  border: none;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.mobile-menu-open__icon {
  stroke: currentColor;
}
.mobile-menu-open__icon.is-hidden {
  display: none;
  transition: $transition-duration $transition-timing-function;
}
.mobile-menu-open .mobile-menu__close-icon {
  border: none;
  background-color: inherit;
}
.mobile-menu-open .mobile-menu__close-icon.is-hidden {
  display: none;
}
.mobile-menu-open__icon.is-hidden {
  display: none;
  transition: $transition-duration $transition-timing-function;
  position: absolute;
  right: 20px;
  padding: 0;
  cursor: pointer;
}
.mobile-menu.is-open {
  transform: translate(0, 0);
  transition: $transition-duration $transition-timing-function;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  height: 100%;
  width: 100%;
  // padding-top: 104px;
  padding: 20px;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.mobile-menu__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 280px;
  max-width: 280px;
  width: 100%;
  height: 100%;
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  background-image: url(../images/burger-menu.png);
}
@media screen and (min-width: $mobile),
  screen and (min-resolution: 192dpi) and (min-width: $mobile),
  screen and (min-resolution: 2dppx) and (min-width: $mobile) {
  .mobile-menu__container::before {
    background-image: url(../images/burger-menu@2x.png);
  }
}
@media screen and (min-width: $tablet) {
  .mobile-menu__container {
    padding-top: 140px;
  }
}
.mobile-menu__item {
  position: relative;
  z-index: $to-top-button-index;
}
.mobile-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 14px;
  padding-bottom: 14px;
  height: 48px;
  font-weight: $medium;
  font-size: 4vw;
  line-height: 1.3;
  gap: 90px;
  color: #ffffff;
  background-color: $blackish;
  border-radius: 18px;
  border: 1.5px solid $blackish;
  transition: $transition-duration $transition-timing-function;
}
.button-modal__logout {
  position: fixed;
  bottom: 20px;
  z-index: $to-top-button-index;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 24px;
  padding-bottom: 15px;
  height: 48px;
  font-weight: $medium;
  font-size: 4vw;
  line-height: 1.3;
  gap: 4px;
  color: $blackish;
  background-color: $logo-stroke-light;
  border-radius: 18px;
  border: 1.5px solid $blackish;
  transition: $transition-duration $transition-timing-function;
}
.mobile-menu__btn {
  margin-top: 126px;
  margin-left: auto;
  margin-right: auto;
}
.mobile-menu__home {
  padding: 8px 16px;
  width: 72px;
  height: 34px;
  font-weight: $medium;
  font-size: 4vw;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  background: transparent;
  border-radius: 36px;
  margin-right: 60px;
  color: $milky;
  &:hover,
  :focus,
  &.active {
    color: $blackish;
    background: $gold;
    border-color: $gold;
    font-weight: $bold;
    transition: $transition-duration $transition-timing-function;
  }
}
.mobile-menu__shopping {
  font-weight: $medium;
  font-size: 4vw;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-top: 17px;
  transition: transform 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 16px;
  text-align: center;
  border-radius: 36px;
  box-sizing: border-box;
  gap: 8px;
  color: $milky;
  &:hover,
  :focus, &.active {
    background: $gold;
    border-color: $gold;
    color: $blackish;
    fill: currentColor;
    transition: $transition-duration $transition-timing-function;
    font-weight: $bold;
  }
}
.mobile-menu__icon {
  fill: $milky;
  fill: currentColor;
}
