// button:not(.close-btn, .menu-toggle, .back-to-top) {
//   &:hover,
//   &:focus {
//     animation: 3s ease-out button-pulsing-shadow infinite 100ms;
//   }
// }

.button,
%button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;

  padding: calc(12px - 1px) 34px;

  color: black;
  background-color: transparent;
  @include transition-multiple(color, background-color, scale);
  // transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 250ms;

  border: 1px solid black;
  border-radius: 5px;
  padding: 12px 40px;

  &:hover,
  &:focus {
    border-color: black;
  }

  &:disabled {
    border-color: black;
    cursor: not-allowed;
  }
}

.button--accented,
%button--accented {
  @extend .button;

  background-color: black;

  &:hover,
  &:focus {
    background-color: black;
  }

  &:disabled {
    background-color: black;
  }
}

.button--modal {
  @include fz-lh(12, 15);

  @media screen and (min-width: $tablet) {
    @include fz-lh(14, 17);
  }
}

.button--long {
  padding: calc(12px - 1px) 40px;
}

.chevron {
  margin-left: 4px;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: $to-top-button-index;

  height: 64px;
  width: 64px;

  &:hover,
  &:focus {
    scale: 1.03;
  }

  transition: opacity 500ms;

  &.hidden {
    opacity: 0;
  }
}

// .button-icon {
//   fill: currentColor;
//   transition: fill 500ms ease-in-out;
// }
