.button,
%button {
  font-weight: $bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;

  padding: 14px 28px;

  color: black;
  background-color: transparent;

  @include transition-multiple(color, background-color, scale);

  border: 2px solid $violet;
  border-radius: 40px;

  &:hover,
  &:focus {
    color: white;
    background-color: $violet;
  }
}

// Buttons in the popup
.button--popup {
  padding: 14px 23px;
  min-width: 210px;

  @media screen and (min-width: $tablet) {
    padding: 20px 0;
    min-width: 500px;
  }
}

// Buttons in the user bar
.button--login {
  border: 1.5px solid black;
  border-radius: 18px;
}

// Scroll back to top button
.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 50px;
  z-index: $to-top-button-index;

  height: 54px;
  width: 54px;
  // padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $violet;
  border: 5px solid transparent;
  border-radius: 50%;

  // offset-x | offset-y | blur-radius | spread-radius | color
  box-shadow: 0 0 0 5px rgba($violet, 0.3);

  &:hover,
  &:focus {
    scale: 1.03;
  }

  transition: opacity 500ms;

  &.hidden {
    opacity: 0;
  }
}

// .button-icon {
//   fill: currentColor;
//   transition: fill 500ms ease-in-out;
// }
