.button {
  font-weight: $bold;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  padding: 14px 28px;

  color: var(--text-color);
  background-color: transparent;

  @include transition-multiple(color, background-color, scale);

  border: 2px solid var(--accent-primary);
  border-radius: 40px;

  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    // right: 0;
    // bottom: 0;
    z-index: -1;

    transform: translateX(-105%) skew(-25deg);
    height: 100%;
    width: 110%;
    background-color: var(--accent-primary);
    transition: transform 300ms;
  }

  &:hover,
  &:focus {
    color: white;
    // background-color: var(--accent-primary);

    &::before {
      opacity: 1;
      transform: translateX(-5%) skew(-25deg);
    }
  }
}

// Buttons in the popup
.button--popup {
  padding: 14px 23px;
  min-width: 210px;

  @media screen and (min-width: $tablet) {
    padding: 20px 0;
    min-width: 500px;
  }
}

// Buttons in the user bar
.button--login {
  border: 1.5px solid black;
  border-radius: 18px;
}
