.color-scheme-switcher {
  display: inline-block;
  position: relative; // for slider positioning

  width: 40px;
  height: 20px;
}

#color-scheme-switcher-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  &:hover,
  &:focus {
    outline: none;
  }

  &:checked {
    & + .color-scheme-switcher-slider {
      background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);

      &::before {
        -webkit-transform: translateX(112%);
        transform: translateX(112%);
      }
    }
  }
}

.color-scheme-switcher-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;

  border-radius: 18px;

  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);

  transition: 200ms ease-in-out;

  &::before {
    content: '';

    position: absolute;
    left: 1px;
    top: 1px;

    height: 18px;
    width: 18px;

    border: none;
    border-radius: 50%;

    background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
      1px 2px 4px rgba(0, 0, 0, 0.1);
    transition: 200ms linear;
  }
}
