body {
  --slider-width: 40px;
  --slider-height: 20px;
  --slider-circle-size: calc(var(--slider-height) - 2px);
}

.color-scheme-switcher {
  display: inline-block;
  position: relative; // for slider positioning

  width: var(--slider-width);
  height: var(--slider-height);
}

#color-scheme-switcher-checkbox {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;

  &:hover,
  &:focus {
    outline: none;
  }
}

.color-switcher-icons {
  position: absolute;
  right: calc((var(--slider-circle-size) + 2px) * -1);
  top: 50%;
  transform: translateY(-50%);
}

.color-switcher-icon {
  &-sun {
    opacity: 0;
    // transition: opacity 300ms;
  }

  &-moon {
    opacity: 1;
    fill: dimgray;
    transition: opacity 300ms;
  }
}

.color-scheme-switcher-slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  // z-index: -1;

  // padding: 1px;
  border-radius: var(--slider-circle-size);

  background: linear-gradient(180deg, #4f2ee8 0%, #dcdcdc 100%);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1px;

    height: var(--slider-circle-size);
    width: var(--slider-circle-size);

    border: none;
    border-radius: 50%;

    background: linear-gradient(180deg, #ffffff 0%, #f7f7f7 100%);

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 2px rgba(0, 0, 0, 0.1),
      1px 2px 4px rgba(0, 0, 0, 0.1);
  }

  &.animated::before {
    transition: 200ms linear;
  }
}

#color-scheme-switcher-checkbox:checked {
  & + .color-scheme-switcher-slider {
    background: linear-gradient(180deg, #4f2ee8 0%, #686868 100%);
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);

    &::before {
      transform: translate(
        calc(var(--slider-width) - var(--slider-circle-size) - 2px),
        -50%
      );

      background: linear-gradient(180deg, darkgray 0%, dimgray 100%);
    }
  }

  & ~ .color-switcher-icons {
    left: calc((var(--slider-circle-size) + 2px) * -1);

    .color-switcher-icon {
      &-sun {
        fill: var(--accent-secondary);
        opacity: 1;
        // transform: rotate(1turn);
        // transform-origin: center;
        // transition: transform 800ms;
        transition: opacity 200ms;
      }

      &-moon {
        opacity: 0;
      }
    }
  }
}
