/* Headings */

.section-heading {
  font-family: $secondary-font;
  font-weight: 400;

  text-transform: uppercase;
  text-align: center;

  @include fz-lh(30, 38);
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    @include fz-lh(34, 43);
    letter-spacing: 0.06em;
  }

  @media screen and (min-width: $desktop) {
    @include fz-lh(36, 45);
  }
}

.sup-heading {
  font-weight: 800;
  text-transform: uppercase;

  margin-bottom: 12px;

  @include fz-lh(18, 22);

  @media screen and (min-width: $tablet) {
    @include fz-lh(22, 27);
  }

  @media screen and (min-width: $desktop) {
    @include fz-lh(30, 37);
  }
}
