.open-modal-button {
  align-self: center;
  background-color: $gold;
}

.backdrop-pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  opacity: 1;
  /* transition: opacity var(--timing-function), visibility var(--timing-function); */

  padding: 94px 15px;
  overflow-y: scroll;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal-pop-up {
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px 24px;
  margin-top: 100px;

  width: 100%;
  max-width: 335px;
  min-height: 662px;

  background: #ffffff;
  border: 2px solid $blackish;
  border-radius: 18px;

  @media screen and (min-width: $tablet) {
    max-width: 579px;
    min-height: 465px;
    padding: 40px;
//$desktop
    // transition: transform var(--timing-function);
  }
  @media screen and (min-width: $desktop) {
    max-width: 579px;
    min-height: 465px;
 
  }

}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  @media screen and (min-width: $tablet) {
    top: 24px;
    right: 24px;
    width: 28px;
    height: 28px;
  }
}

.close-button__icon {
  fill: $blackish;
  @media screen and (min-width: $tablet) {
    width: 21px;
    height: 21px;
  }

}

.close-button__icon:focus,
.close-button__icon:hover{
  fill: var(--accent-primary);
}

.modal-pop-up-content {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
}

.modal-book-atributes {
  display: flex;
  flex-direction: column;
}

.modal-img {
  max-width: 287px;
  min-height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;
  border: none;

  @media screen and (min-width: $tablet) {
    max-width: 192px;
    min-height: 281px;
  }
}

.modal-book-title {
  font-weight: $bold;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;
  color: $blackish;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 1.17;
  }
}

.modal-book-author {
  margin-bottom: 18px;
  font-style: italic;
  font-weight: $regular;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: $gray;
  @media screen and (min-width: $tablet) {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.modal-book-desc {
  margin-bottom: 14px;
  font-weight: $regular;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: $blackish;
  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.modal-shops {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  mix-blend-mode: luminosity;
  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.modal-shop-img:focus,
.modal-shop-img:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

.modal-pop-up-btn {
  margin-left: auto;
  margin-right: auto;
  min-width: 211px;
  height: 46px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  @media screen and (min-width: $tablet) {
    padding: 0 20px;
    min-width: 499px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.modal-message {
  margin-top: 8px;
  min-width: 243px;
  font-weight: $regular;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;

  color: rgba(17, 17, 17, 0.5);
  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.17;
  }
}
