.backdrop-pop-up {
  position: fixed;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.4);
  
  opacity: 1;
  cursor: pointer;
  z-index: 20;
  padding: 94px 15px;
  // overflow-y: scroll;
  // overscroll-behavior: none;


  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}


.modal-pop-up {
  z-index: 30;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);

  padding: 40px 24px;

  // width: 100%;
  min-width: 335px;
  // min-height: 662px;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  color: var(--text-color);
  background-color: var(--modal-bg-color);
  border: 2px solid var(--modal-border-color);
  border-radius: 18px;

  @media screen and (min-width: $tablet) {
    max-width: 579px;
    min-height: 465px;
    padding: 40px;
    
    //$desktop

  }
 
}

.close-button {
  background-color: transparent;
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  border: none;
  border-radius: 50%;

  @media screen and (min-width: $tablet) {
    top: 24px;
    right: 24px;

    width: 28px;
    height: 28px;
  }
}

.close-button__icon {
  fill: var(--text-color);

  @media screen and (min-width: $tablet) {
    width: 21px;
    height: 21px;
  }
}

.close-button__icon:focus,
.close-button__icon:hover {
  fill: var(--accent-secondary);
}

.modal-pop-up-content {
  @media screen and (min-width: $tablet) {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
  }
}

.modal-book-attributes {
  display: flex;
  flex-direction: column;
}

.modal-img {
  max-width: 287px;
  min-height: 408px;
  border-radius: 8px;
  margin-bottom: 14px;
  border: none;

  @media screen and (min-width: $tablet) {
    max-width: 192px;
    min-height: 281px;
  }
}

.modal-book-title {
  font-weight: $bold;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.04em;

  @media screen and (min-width: $tablet) {
    font-size: 24px;
    line-height: 1.17;

    max-width: 270px;
  }
}

.modal-book-author {
  margin-bottom: 18px;
  font-style: italic;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.04em;
  color: $gray;

  @media screen and (min-width: $tablet) {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.29;
  }
}

.modal-book-desc {
  margin-bottom: 14px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
  }
}

.modal-shops {
  display: flex;
  align-items: center;

  gap: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.modal-shop-img {
  filter: grayscale(100%);
  // mix-blend-mode: var(--mix-blend-mode);

  &:hover,
  &:focus {
    filter: var(--hover-filter);
  }

  &.amazon {
    filter: var(--amazon-image-filter);

    &:hover,
    &:focus {
      filter: var(--amazon-image-filter-hover);
    }
  }
}

.modal-pop-up-btn {
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px 20px;
  min-width: 210px;
  height: 46px;
  

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  @media screen and (min-width: $tablet) {
    padding: 20 0px;
    min-width: 499px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.modal-message {
 
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  max-width: 242px;
  font-weight: $regular;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.04em;

  color: rgba(17, 17, 17, 0.5);
  @media screen and (min-width: $tablet) {
    max-width: 324px;
    font-size: 12px;
    line-height: 1.17;
  }
}
