::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 12px;
}

.categories {
  height: 228px;
  padding-right: 20px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @media screen and (min-width: $tablet) {
    height: 472px;
  }
}

.categories_list {
  display: flex;
  flex-direction: column;
}

.category-btn {
  background-color: inherit;
  border: none;
  text-align: left;

  margin-bottom: 24px;

  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;
  font-weight: $regular;

  color: var(--category-color);
  @include transition-multiple(color, font-weight);

  &:hover,
  &:focus {
    color: var(--active-category-color);
  }

  &:focus {
    outline: none;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.active-category {
  text-transform: uppercase;
  color: var(--active-category-color);
  font-weight: $bold;
}
