::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-bg-color);
  border-radius: 12px;
}

.categories {
  height: 228px;
  padding-right: 20px;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  scrollbar-width: thin;

  @media screen and (min-width: $tablet) {
    height: 472px;
  }
}

.categories_list {
  display: flex;
  flex-direction: column;

  gap: 24px;

  @media screen and (min-width: $tablet) {
    gap: 32px;
  }
}

.category-btn {
  background-color: inherit;
  border: none;
  text-align: left;

  font-size: 16px;
  line-height: 1.12;
  letter-spacing: -0.02em;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.33;
  }

  color: var(--category-color);
  transform: scale(1);

  transition: color 200ms, font-weight 200ms, transform 400ms;

  &:hover,
  &:focus {
    color: var(--active-category-color);
    transform: scale(1.03);
    transform-origin: center left;
  }

  &:focus {
    outline: none;
  }
}

.all-categories-button {
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.active-category {
  text-transform: uppercase;
  color: var(--active-category-color);
  font-weight: $bold;

  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
