body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);

  transition: background-color 200ms ease-in, color 200ms ease-in;

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  scrollbar-width: thin;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  // &.modal-open {
  //   overflow: hidden;
  // }
}

.container {
  // outline: 2px solid maroon;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: ($tablet - 1)) {
    min-width: calc(100vw - 40px);
  }

  // @media screen and (min-width: $mobile) {
  //   width: $mobile;
  // }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }

  @media screen and (min-width: $desktop-wide) {
    width: $desktop-wide;
  }

  &.page-container {
    padding: 40px 20px 80px;

    @media screen and (min-width: $tablet) {
      padding: 40px 32px 100px;

      flex-direction: row;
      gap: 32px;
    }

    @media screen and (min-width: $desktop) {
      padding: 40px 24px;

      display: flex;
      flex-direction: row;
    }
  }
}

aside {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: ($tablet - 1)) {
    align-items: center;
    margin-bottom: 40px;
  }

  gap: 40px;

  @media screen and (min-width: $tablet) {
    flex-direction: row;
    gap: 32px;
    margin-bottom: 100;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: column;
    gap: 86px;

    max-width: 356px;
  }
}

.content {
  // display: flex;
  // flex-direction: column;

  padding-bottom: 40px;

  @media screen and (max-width: ($tablet - 1)) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: $tablet) {
    flex-grow: 1;
    padding-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    flex-grow: 1;
  }
}

.sidebar-shoppinglist {
  display: none;
  @media screen and (min-width: $desktop) {
    display: inherit;
  }
}
