body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.container {
  padding-left: $container-padding;
  padding-right: $container-padding;

  // @media screen and (min-width: $desktop) {
  //   margin-left: 215px;
  //   margin-right: 215px;
  // }
}

.page {
  display: flex;
  flex-direction: row-reverse;
  // justify-content: center;
  // height: 3000px;
}

aside {
  background-color: beige;
}
