.gallery {
  padding-top: $regular-gap;
  padding-bottom: $regular-gap;

  display: flex;
  flex-wrap: wrap;
  gap: $regular-gap;
}

.photo-card {
  @include flex-basis-mob-tab-desk;
  flex-grow: 1;
  max-width: 350px;

  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(#000000, 0.25);
  transition: transform 300ms ease-in-out;

  // background-color: whitesmoke;
  background-color: $bg-dark;
  color: $text-dark;

  border-radius: 5px;
  border: 1px solid rgba(darkgoldenrod, 0.3);
  // border: 1px solid $aaa;

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(#000000, 0.4);
    transform: scale(1.03);

    & .image {
      transform: scale(1.1);
    }
  }
}

.image-link {
  display: block;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 165px;
  object-fit: cover;

  transition: transform 300ms ease-in-out;
}

.info {
  padding: 10px 20px;
  font-size: 0.7em;

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
}
