.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: $header-index;

  background-color: var(--header-bg-color);

  border: 1.5px solid var(--text-color);
  border-radius: 0px 0px 8px 8px;

  height: 64px;

  @media screen and (min-width: $tablet) {
    height: 72px;
  }

  display: flex;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: ($tablet - 1)) {
      justify-content: space-between;
    }

    padding: 0 20px;

    @media screen and (min-width: $tablet) {
      padding: 0 32px;
    }

    @media screen and (min-width: $desktop) {
      padding: 0 24px;
    }
  }
}

.page-logo-heder {
  display: flex;
  align-items: center;
  height: 28px;
  gap: 8px;
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
    margin-right: 16px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 83px;
  }
}

.page-logo-last {
  fill: currentColor;
}

.page-navigation-link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color);
  align-items: center;
  padding: 8px 16px;
}
.page-navigation-link-icon {
  fill: currentColor;
}

.current {
  font-weight: 700;
  background: #eac645;
  border-radius: 36px;
  color: $blackish;
}

.navigation-link-shopping {
  gap: 4px;
}

.navigation-link-shopping.current {
  gap: 8px;
}

.page-navigation-link-icon.current {
  fill: currentColor;
}

// .page-navigation-list {
//   display: flex;
//   align-items: center;
//   gap: 8px;
// }
// @media screen and (max-width: 767px) {
//   .page-navigation-list {
//     display: none;
//   }
// }

.page-navigation-link {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--text-color);
  align-items: center;
  padding: 8px 16px;
}
.page-navigation-link-icon {
  fill: currentColor;
}

.page-navigation-list {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    gap: 8px;
  }
}

.page-navigation-list-last {
  display: flex;
  align-items: center;
  gap: 24px;
}

.page-navigation-list-item {
  display: flex;
  align-items: center;
  height: 34px;
}

.page-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  position: relative;

  @media screen and (max-width: 767px) {
    flex-grow: 0;
    display: flex;
    position: relative;
    // gap: 4px;
  }

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
    gap: 8px;
  }
}
