.books-list-cat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 40px;

  justify-content: space-between;

  @media screen and (max-width: ($tablet - 1)) {
    justify-content: center;
  }

  .home-br__title {
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
      margin-bottom: 60px;
    }
  }
}

// .books-list-cat .book-title {
//   margin-top: 14px;
// }

// .books-list-cat .book-image {
//   @media screen and (min-width: $tablet) {
//     max-width: 218px;
//     height: 316px;
//   }

//   @media screen and (min-width: $desktop) {
//     max-width: 180px;
//     height: 256px;
//   }
// }

// .books-list-cat .book-author {
//   width: 180px;
//   margin-bottom: 0;
// }

// .book-item-cat {
//   --gap: 25px;

//   @media screen and (min-width: $mobile) {
//     @include flex-basis(1, var(--gap));
//   }

//   @media screen and (min-width: $tablet) {
//     @include flex-basis(3, var(--gap));
//   }

//   @media screen and (min-width: $desktop) {
//     @include flex-basis(5, var(--gap));
//   }

//   // @media screen and (max-width: $tablet) {
//   //   margin-right: 0;
//   //   margin-bottom: 40px;
//   // }

//   // @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
//   //   margin-right: 24px;
//   //   margin-bottom: 40px;
//   //   &:nth-child(3n + 3) {
//   //     margin-right: 0;
//   //   }
//   // }

//   // @media screen and (min-width: ($desktop-wide - 1)) {
//   //   &:nth-child(5n + 5) {
//   //     margin-right: 0;
//   //   }
//   //   margin-right: 24px;
//   //   margin-bottom: 24px;
//   // }
// }
