.category-books-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: $tablet) {
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 25px;
  }

  @media screen and (min-width: $desktop) {
    column-gap: 24px;
  }
}

.books-list-item {
  --gap: 25px;

  @media screen and (min-width: $mobile) {
    @include flex-basis(1, var(--gap));
  }

  @media screen and (min-width: $tablet) {
    @include flex-basis(3, var(--gap));
  }

  @media screen and (min-width: $desktop) {
    @include flex-basis(5, var(--gap));
  }
}
