.books-list-cat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 40px;

  justify-content: space-between;

  @media screen and (max-width: ($tablet - 1)) {
    justify-content: center;
  }

  .home-br__title {
    @media screen and (min-width: $mobile) and (max-width: $tablet) {
      margin-bottom: 60px;
    }
  }
}

.book-item-cat {
  --gap: 25px;

  @media screen and (min-width: $mobile) {
    @include flex-basis(1, var(--gap));
  }

  @media screen and (min-width: $tablet) {
    @include flex-basis(3, var(--gap));
  }

  @media screen and (min-width: $desktop) {
    @include flex-basis(5, var(--gap));
  }
}
