.home{
    
    @media screen and (max-width: 767px) {
        // display:flex;
        // flex-direction:column;
    }
}

.home-br__title {
    font-size: 48px;
    font-weight: $bold;
    height: 52px;
    letter-spacing: -0.04em;

    color: $blackish;

    margin-bottom: 40px;
    margin-top: 40px;


    @media screen and (max-width: 767px) {
        font-size: 32px;
        line-height: 38px;
    }
}

.home-bs__title-part {
    color: $violet;
}

.home-category-title {
    height: 24px;

    font-weight: $regular;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $gray;

    margin-bottom: 18px;

@media screen and (max-width: 767px) {
    font-size: 14px;
    height: 18px;
}
}


.home-category {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  
}

.books-list {
    display: flex;
  gap: 24px;

  @media screen and(max-width: 767px) {
    flex-direction:column;
  }
}

.book-image {
    border-radius: 8px;
    margin-bottom: 14px;

    width:180px;
    height:256px;

    @media screen and(max-width:767px) {
        width: 335px;
        height:485px;
    }

    @media screen and(min-width: $tablet) and (max-width:1279px) {
        width:218px;
        height:316px;
    }
}

.book-title {
    font-size: 16px;
    font-weight: $bold;
    line-height: 18px;
    letter-spacing: -0.04em;
    color: $blackish;
    max-width:180px;

    margin-bottom: 4px;

    

}

.book-author{

    font-size: 12px;
    font-weight: $regular;
    line-height: 14px;
    letter-spacing: -0.04em;

    font-style:italic;
    color: $gray;

    margin-bottom:32px;

    @media screen and (max-width:767px){
        margin-bottom: 8px;
    }
  
    @media screen and (min-width: $tablet) and(max-width: 1279px) {
        margin-bottom: 20px;
    }
}

.see-more-btn {
margin-left: auto;

text-align: right;


}

.book-item:nth-child(n + 2){

    @media screen and(max-width: 767px) {
        display: none;
    }

    
}

.book-item:nth-child(n + 4) {
    @media screen and(min-width: $tablet) and (max-width: 1279px){
display: none;
    }
}