body {
  display: flex;
  justify-content: center;

  // for dark version:
  height: 100vh;
  background: rgb(43, 43, 43);
  background: linear-gradient(
    0deg,
    rgba(43, 43, 43, 1) 55%,
    rgba(88, 83, 75, 1) 100%
  );
  background-attachment: fixed;
}

.container {
  padding-left: $container-padding;
  padding-right: $container-padding;

  @media screen and (min-width: $desktop-medium) {
    margin-left: $desktop-margin;
    margin-right: $desktop-margin;
  }
}

.pixabay-logo-wrapper {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;

  display: flex;
  justify-content: center;

  &.hidden {
    display: none;
  }
}

.pixabay-logo {
  animation: logo-down 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) both 200ms;

  fill: #696969;
  transition: fill 800ms ease-in-out;

  &:hover {
    fill: #9d9c9a;
  }
}
