.shopping__title {
  font-weight: $bold;
  font-size: 32px;
  line-height: calc(38 / 32);

  letter-spacing: -0.04em;

  color: var(--text-color);

  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: calc(52 / 48);
  }
}
.shopping__title-span {
  color: var(--accent-primary);
}

.is-empty__info {
  font-size: 14px;
  line-height: calc(18 / 14);

  text-align: center;
  letter-spacing: -0.02em;
  color: var(--empty-list-text-color);

  // margin-left: 10.5px;
  // margin-right: 10.5px;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: calc(24 / 18);
    margin-left: 0px;
    margin-right: 0px;
  }
}
.is-empty__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 14px;

  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;

  width: 265px;
  height: 248px;

  @media screen and (min-width: $tablet) {
    font-size: 18px;
    line-height: calc(24 / 18);
    margin-bottom: 20px;
  }
}

.is-empty__picture {
  width: 265px;
  height: 198px;
}

.shopping__card {
  width: 100%;

  display: grid;
  grid-template-columns: 98px 1fr;
  grid-template-rows: 60px 79px 34px 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;

  position: relative;

  background-color: var(--card-bg-color);
  width: 336px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;

  border: 3px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;

  &:hover,
  &:focus {
    border: 3px solid $gold;
  }

  @media screen and (min-width: $tablet) {
    grid-template-columns: 116px repeat(2, 1fr);
    grid-template-rows: 50px 85px 30px;
    grid-column-gap: 24px;

    width: 100%;
    height: 213px;
    padding: 24px;
  }

  @media screen and (min-width: $desktop) {
    width: 996px;
    height: 213px;
  }

  .grid-img {
    grid-area: 1 / 1 / 3 / 2;

    @media screen and (min-width: $tablet) {
      // grid-row-end: 4;
      grid-area: 1 / 1 / 4 / 2;
    }
  }
  .grid-title {
    grid-area: 1 / 2 / 2 / 3;
    @media screen and (max-width: calc($tablet - 1px)) {
      max-width: 144px;
    }
    @media screen and (min-width: $tablet) {
      grid-area: 1 / 2 / 2 / 4;
    }
  }

  .grid-description {
    grid-area: 4 / 1 / 5 / 3;

    @media screen and (min-width: $tablet) {
      grid-area: 2 / 2 / 3 / 4;
    }
  }

  .grid-author {
    grid-area: 3 / 1 / 4 / 3;

    @media screen and (max-width: calc($tablet - 1px)) {
      max-width: 97px;
    }

    @media screen and (min-width: $tablet) {
      grid-area: 3 / 2 / 4 / 3;

      display: flex;
      align-items: end;
    }
  }

  .grid-shoplist {
    grid-area: 2 / 2 / 3 / 3;

    @media screen and (max-width: calc($tablet - 1px)) {
      margin-top: 20px;
    }

    @media screen and (min-width: $tablet) {
      grid-area: 3 / 3 / 4 / 4;

      display: flex;
      justify-content: end;
      align-items: end;
    }
  }
}

// .modal-shop-img {
//   filter: grayscale(100%);
//   mix-blend-mode: luminosity;
//   transition: transform 200ms, filter 200ms;

//   &:hover,
//   &:focus {
//     mix-blend-mode: normal;
//     transform: scale(1.1);
//     filter: var(--hover-filter);
//   }
// }

// .amazon {
//   filter: var(--amazon-image-filter);

//   &:hover,
//   &:focus {
//     filter: var(--amazon-image-filter-hover);
//   }
// }

// .book-shop {
//   filter: var(--book-shop-image-filter);

//   &:hover,
//   &:focus {
//     filter: var(--book-shop-image-filter-hover);
//   }
// }

.shopping__card-title {
  margin-bottom: 4px;

  font-weight: $bold;
  font-size: 16px;
  line-height: calc(18 / 16);

  letter-spacing: -0.04em;
  text-transform: uppercase;

  color: var(--text-color);
}

.shopping__card-category {
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.03em;

  color: $gray;
}

.shopping__card-author {
  margin-top: 4px;

  font-style: italic;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: -0.04em;

  color: $gray;
}

.shopping__card-description {
  margin-top: 10px;

  font-family: 'DM Sans';
  font-size: 15px;
  line-height: calc(18 / 15);

  letter-spacing: -0.04em;

  color: var(--text-color);

  @media screen and (min-width: $tablet) {
    gap: 16px;
    margin-top: 0px;
  }
}

.shopping__card-shoplist {
  display: flex;
  gap: 14px;
  align-items: center;
  @media screen and (min-width: $tablet) {
    gap: 16px;
  }
}

.shopping-img-amazon {
  width: 48px;
  height: 15px;
}

.shopping-img-apple {
  width: 28px;
  height: 27px;
}
.shopping-img-bookshop {
  width: 32px;
  height: 30px;
}

.shopping__card-img {
  width: 98px;
  height: 139px;
  border-radius: 8px;

  @media screen and (min-width: $tablet) {
    width: 116px;
    height: 165px;
  }
}

.shopping__card-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 14px;
  right: 14px;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-color: transparent;
  background-color: var(--accent-primary);

  transition: background 0.2s ease-out;

  @media screen and (min-width: $tablet) {
    top: 24px;
    right: 24px;

    width: 34px;
    height: 34px;
  }
}
.shopping__card-btn:hover,
.shopping__card-btn:hover {
  // transform: scale(1.1);
  background: $gold;
}

// -----------------
