.support {
    padding: 24px 79px 24px 40px;
    list-style-type: none;
    width: 356px;
    height: 490px;
    background: radial-gradient(183.6% 183.01% at 59.76% -23.42%, #4F2EE8 18.03%, #FFFFFF 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
border-radius: 16px;
}

.head-title {
    color:#FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;


letter-spacing: -0.04em;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

}
